:root {
  --ifm-color-primary: #8d3de0;
  --ifm-color-primary-dark: #8559ff;
  --ifm-color-primary-darker: #9d7cd8;
  --search-local-modal-shadow: var(--ifm-global-shadow-tl);
}

.hero .theme-code-block {
  --ifm-global-shadow-lw: var(--ifm-global-shadow-tl);
}

.card {
  --ifm-global-shadow-lw: 0 1px 16px 0 rgba(0, 0, 0, 0.05);
}

/*
 * Light Theme
 */

[data-theme="light"] {
  --ifm-badge-color: #f9cabd;
  --ifm-background-color: #fdf0ed !important;
  --ifm-hero-background-color: #fce9e4;
  --ifm-card-background-color: #fce6e0;
  --ifm-navbar-background-color: #fdf0ed80;
  --ifm-navbar-search-input-background-color: #fce9e4;
  --ifm-navbar-search-input-icon:  url('data:image/svg+xml;utf8,<svg fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');

  --search-local-hit-background: #fce6e0;
  --search-local-modal-background: #fce9e4;
}

[data-theme="light"] footer {
  --ifm-color-secondary: #06060c;
  --ifm-footer-title-color: #06060cb3;
  --ifm-footer-background-color: #fadad0;
}

/*
 * Dark Theme
 */

[data-theme="dark"] {
  --ifm-badge-color: #292a3a;
  --ifm-background-color: #31364e !important;
  --ifm-card-background-color: #373d58;
  --ifm-hero-background-color: #3a415e;
  --ifm-font-color-base-inverse: #c0caf5;
  --ifm-navbar-background-color: #31364e80;
  --ifm-navbar-search-input-background-color: #3a415e;
  --ifm-navbar-search-input-icon:  url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  
  --search-local-hit-background: #3a415e; 
  --search-local-modal-background: #373d58; 
}

[data-theme="dark"] footer {
  --ifm-footer-background-color: #24283b;
}

/*
 * Fancy Navbar
*/

.navbar:not(.navbar-sidebar--show) {
  backdrop-filter: blur(15px);
}

[data-theme="light"] .navbar-sidebar--show {
  --ifm-navbar-background-color: #fdf0ed;
}

[data-theme="dark"] .navbar-sidebar--show {
  --ifm-navbar-background-color: #31364e;
}

/* 
 * Code Blocks
 */

.code-block-gray {
  background-color: #6a6a6a20;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.code-block-red {
  background-color: #ff000020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.code-block-green {
  background-color: #15ff0020;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* 
 * Docs Button
 */

 nav .navbar__items:nth-child(1) a:nth-of-type(2)::after {
  content: "v6.x";

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  padding-left: 0.4rem;
  padding-right: 0.4rem;

  margin-left: 5px;
  border-radius: 20%;

  font-size: x-small;
  color: var(--ifm-heading-color);

  background-color: var(--ifm-badge-color);
}
